body {
	background-color: gray;
}

.popup {
    position: absolute;
    width: 250px;
    border: 1px solid;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
    text-align: unset;
    left: 36%;
    top: 37%;
}